body{
    background-color: rgb(19, 18, 18);
}

@font-face {
    font-family: 'One Piece' ;
    src: url('font/one piece font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    position: fixed;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column; 
}

.jolly-roger {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid black; 
}

    .jrluffy{
        background-color: red;
    }
    .jrzoro{
        background-color: green;
    }
    .jrnami{
        background-color: orange;
    }

.jolly-roger img {
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
}

.tripulacao {
    text-align: center;
}

.pirata img {
    max-width: 750px;
    max-height: 750px;
    object-fit: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pirata ul{
    list-style: none;
    position: fixed;
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column; 
}

    .pirata ul li{
        font-family: 'One Piece';
        color: white;
        font-size: 24px;
    }

.pirata h1{
    font-family: 'One Piece';
    color: white;
    font-size: 80px;
    margin-top: 0;
}

.pirata h3{
    font-family: 'Gotham';
    font-style: bold;
    color: white;
    margin-top: -30px;
    font-size: 36px;
}
